{% extends "base.html.twig" %}

{% block title %}Prenoms{% endblock %}

{% block body %}
	<h1>Hello</1>

	{% for p in prenoms %}
		<p>{{p}}</p>
	{% endfor %}

	<h2>Notre formateur</h2>
	{% for key, value in formateur %}
	<p>{{key}} : {{value}}</p>

	{% endfor %}

	<strong>Prénom:</strong> {{formateur.prenom|upper}}

	<h2>Liste des élèves ({{eleves | length}})</h2>

	{% for eleve in eleves %}
		<p>{{ eleve.prenom }} {{ eleve.nom | upper }}</p>
	{% endfor %}

	<h2>Liste des animaux</h2>
	{% for product in products %}
		<p>{{product.nom}}</p>
	{% endfor %}

{% endblock %}