{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon blog{% endblock %}

{% block body %}
    <h1>Bienvenue sur le blog</h1>

    {% for post in posts %}
        <h2>{{post.title}}</h2>
        <small>Dans la catégorie: {{post.category.title}}, publié le: {{post.createdAt | date('d-m-Y')}}</small><br>
        <img src="{{post.image}}" alt="{{post.title}}"><br>
        <a href="#">Lire la suite...</a>
    {% endfor %}
{% endblock %}
